<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.name %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gradient-to-r from-blue-400 via-indigo-500 to-purple-600 text-gray-800 font-sans">
    <nav class="flex items-center justify-between bg-blue-500 p-4 shadow-md">
        <a href="/student" class="flex items-center mx-3 my-2 text-white hover:text-blue-600 transition duration-300">
            <img src="https://cdn-icons-png.flaticon.com/128/3176/3176194.png" class="w-6 h-6" alt="view course">
            <div class="ml-2">Back to Dashboard</div>
        </a>

        <div class="flex items-center mx-3">
            <div class="bg-blue-700 rounded-md p-2 flex items-center">
                <h2 class="text-xl text-white font-semibold mr-2">Completion Status</h2>
                <!-- Updated Completion Status Bar -->
                <div class="relative w-24 h-8 bg-gray-300 rounded-full overflow-hidden">
                    <div class="bg-green-600 h-full" class="<%= 'w-' + percentage %>"></div>
                </div>
                <span class="ml-2 text-white"><%= percentage %>%</span>
            </div>
        </div>
    </nav>

    <div class="container mx-auto p-8 flex items-center">
        <div class="w-1/2 mx-auto">

            <!-- Course Details Container -->
            <div class="bg-white p-6 rounded-md text-center">

                <!-- Course Name -->
                <h2 class="text-3xl font-bold mb-4 text-gray-800"> Course : <%= course.name %></h2>

                <!-- Description -->
                <p class="text-gray-700 mb-4"><%= course.description %></p>

                <!-- List of Chapters -->
                <div class="space-y-4">
                    <% for(var i=0; i < chapters.length; i++) { %>
                    <!-- Chapter -->
                    <div class="flex items-center justify-between border-b border-gray-400 p-4">
                        <span class="text-lg font-semibold text-gray-800">Chapter <%= i+1 %> : <%= chapters[i].name %></span>
                        <a href="/schapter/<%= chapters[i].id %>">
                            <button class="border text-white bg-green-600 hover:bg-green-800 transition duration-300 border-gray-400 px-4 py-2 rounded">
                                View Chapter
                            </button>
                        </a>
                    </div>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
</body>

</html>