<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= page.name %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script>
        // Use JavaScript to hide the flash message after 100ms
        document.addEventListener('DOMContentLoaded', function () {
            var flashMessage = document.getElementById('flashMessage');
            if (flashMessage) {
                setTimeout(function () {
                    flashMessage.style.display = 'none';
                }, 1000);
            }
        });
    </script>
</head>

<body class="bg-gradient-to-r from-blue-400 via-indigo-500 to-purple-600 text-gray-800 flex items-center justify-center h-screen">

    <div class="bg-white p-8 rounded shadow-md w-2/3 text-center">
        <!-- Page Name -->
        <div class="bg-gray-100 p-6 rounded-md mt-8">
            <h1 class="text-3xl font-semibold mb-4">
                <!-- Course Link -->
                <a href="/scourse/<%=course.id%>" class="text-blue-500 font-bold text-xl">
                    <%=course.name%>
                </a>
                <!-- Separator -->
                <span class="mx-2 text-gray-500">:</span>
                <!-- Chapter Link -->
                <a href="/schapter/<%=chapter.id%>" class="text-green-500 text-xl">
                    <%=chapter.name %>
                </a>
                <!-- Separator -->
                <span class="mx-2 text-gray-500">:</span>
                <!-- Page Name -->
                <span class="text-black text-2xl font-bold">
                    <%= page.name %>
                </span>
            </h1>
        </div>
        
        <!-- Content -->
        <div class="mb-8">
            <div class="p-5 border-4 bg-gray-100">
                <!-- Page content goes here -->
                <%=page.content %>


            </div>
        </div>

        <!-- Mark as Complete Button -->
        <form action="/completePage/<%= page.id %>" method="post"><button
                class="<%= CompletedStatus ? 'bg-green-500' : 'bg-blue-500' %> text-white px-4 py-2 rounded-full">
                <%= CompletedStatus ? 'Completed' : 'Mark as Complete' %>
            </button>
        </form>

        <% if (messages.info) { %>
            <div id="flashMessage"
                class="alert alert-info top-10 right-5 fixed text-sm bg-green-300 p-5 rounded text-white">
                <%= messages.info %>
            </div>
            <% } %>

    </div>

</body>

</html>